<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>dbook - 등록 실패</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
<div id="info" class="box_section" style="width: 600px; margin: 0 auto; text-align: center;">
    <img width="100px" src="https://static.toss.im/lotties/error-spot-no-loop-space-apng.png" />
    <h2>카드 등록에 실패했어요</h2>

    <div class="p-grid typography--p" style="margin-top: 50px">
        <div class="p-grid-col text--left"><b>에러 메시지</b></div>
        <div class="p-grid-col text--right" id="message"></div>
    </div>
    <div class="p-grid typography--p" style="margin-top: 10px">
        <div class="p-grid-col text--left"><b>에러 코드</b></div>
        <div class="p-grid-col text--right" id="code"></div>
    </div>

    <div class="p-grid" style="margin-top: 30px; display: flex; gap: 10px; justify-content: center;">
        <button class="button p-grid-col5" onclick="location.href='/payment/billing';">다시 시도하기</button>
        <button class="button p-grid-col5"
                th:onclick="|location.href='@{/}'|"
                style="background-color: #e8f3ff; color: #1b64da">
            홈으로 가기
        </button>
    </div>
</div>

<script>
    const urlParams = new URLSearchParams(window.location.search);

    const codeElement = document.getElementById("code");
    const messageElement = document.getElementById("message");

    // URL 파라미터에서 에러 정보를 가져와 화면에 표시
    codeElement.textContent = urlParams.get("code") || "UNKNOWN_ERROR";
    messageElement.textContent = urlParams.get("message") || "알 수 없는 에러가 발생했습니다.";
</script>
</body>
</html>